@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #2563eb;
  --secondary: #64748b;
  --danger: #dc2626;

  --input-border: #d1d5db;
  --input-background: #ffffff;
  --input-focus: #2563eb;

  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);

  --color-input-border: var(--input-border);
  --color-input-background: var(--input-background);
  --color-input-focus: var(--input-focus);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
